In [59]:
import pandas as pd
import seaborn as sns

In [60]:
df = pd.read_csv("data.csv")
df

,Rank,Account,Character,Class,Level,Experience,Dead
0,1,SlayerEwin,Ewin_PoEChudes,Champion,100,4250334444,NaN
1,2,HUNTERHARD,๕HunterWS๖,Gladiator,100,4250334444,NaN
2,3,Atlantas,Atlantas_Kalandrovich,Juggernaut,100,4250334444,NaN
3,4,KaratSergio,KaratSergio,Guardian,100,4250334444,NaN
4,5,allrandom2,ChaoAndS,Occultist,100,4250334444,NaN
...,...,...,...,...,...,...,...
995,996,Klaizz,fsdfglgjosdfljgisdfhjgl,Ranger,2,525,NaN
996,997,megawoolf,Почтальёнус,Scion,2,525,NaN
997,998,poelublupizdec,hochutabulu,Ranger,2,525,NaN
998,999,Judge__Death,satasdgha,Scion,2,525,NaN
999,1000,KaratSergio,кукуце,Scion,2,525,NaN

In [54]:
def some(x):
    if x % 2 == 0:
        return True
    else:
        return False

In [55]:
df["Some"] = df.Level.apply(some)

In [73]:
new_df = df[df.Level.apply(lambda x: True if x in [100,99,98] else False) & df.Class.apply(lambda x: True if x in ["Champion", "Trickster"] else False)]

In [85]:
new_df.groupby("Class").agg({"Level":['mean', 'min', 'max']}).astype(int).reset_index()["Level"]["min"][0]

98

In [17]:
df.groupby("Class").count()

              Rank  Account  Character  Level  Experience  Dead
Class
Ascendant       47       47         47     47          47     0
Assassin        33       33         33     33          33     0
Berserker       23       23         23     23          23     0
Champion        47       47         47     47          47     0
Chieftain       28       28         28     28          28     0
Deadeye         41       41         41     41          41     0
Duelist         18       18         18     18          18     0
Elementalist    74       74         74     74          74     0
Gladiator       30       30         30     30          30     0
Guardian        31       31         31     31          31     0
Hierophant      27       27         27     27          27     0
Inquisitor      60       60         60     60          60     0
Juggernaut      45       45         45     45          45     0
Marauder        23       23         23     23          23     0
Necromancer     49       49         49     49          49     0
Occultist       63       63         63     63          63     0
Pathfinder      57       57         57     57          57     0
Raider          58       58         58     58          58     0
Ranger          29       29         29     29          29     0
Saboteur        25       25         25     25          25     0
Scion           14       14         14     14          14     0
Shadow          25       25         25     25          25     0
Slayer          36       36         36     36          36     0
Templar         19       19         19     19          19     0
Trickster       63       63         63     63          63     0
Witch           35       35         35     35          35     0

In [13]:
df.groupby("Class")["Experience"].sum()

Class
Ascendant        79346866191
Assassin         55700750366
Berserker        21473136591
Champion         82699588573
Chieftain        38650140769
Deadeye          57728132519
Duelist            267581769
Elementalist    109948146506
Gladiator        43033202206
Guardian         55651975335
Hierophant       43942476132
Inquisitor       87930841397
Juggernaut       59024774788
Marauder           111248262
Necromancer      59067905118
Occultist        87280802255
Pathfinder       80059518880
Raider           85730073427
Ranger              73576567
Saboteur         44951050657
Scion               44684180
Shadow             125562476
Slayer           47026172689
Templar            446873379
Trickster        76983067951
Witch              127555854
Name: Experience, dtype: int64

In [25]:
pd.options.display.float_format = '{:,.2f}'.format
df.groupby("Class")\
    .agg({"Level": ["min", 'max', 'mean'], "Experience": ['min', 'max', 'mean']})\
    .reset_index()

           Class Level            Experience
                   min  max  mean        min         max             mean
0      Ascendant    31   98 82.96    6165490  3694281949 1,688,231,195.55
1       Assassin    34   98 83.39    8453323  3638186694 1,687,901,526.24
2      Berserker    36   94 73.30   11557974  2658892350   933,614,634.39
3       Champion    42  100 83.89   22787345  4250334444 1,759,565,714.32
4      Chieftain    35   96 79.89   10328851  3112555969 1,380,362,170.32
5        Deadeye    38   98 79.49   14073330  3639940576 1,408,003,232.17
6        Duelist     2   64 16.61        525   218780998    14,865,653.83
7   Elementalist    31   98 82.24    5912532  3641115088 1,485,785,763.59
8      Gladiator    47  100 82.07   39979631  4250334444 1,434,440,073.53
9       Guardian    37  100 85.03   13793353  4250334444 1,795,225,010.81
10    Hierophant    49  100 83.70   50819177  4250334444 1,627,499,116.00
11    Inquisitor    46   97 82.17   37603305  3494383880 1,465,514,023.28
12    Juggernaut    30  100 76.84    5357709  4250334444 1,311,661,661.96
13      Marauder     2   43 19.13        593    28322450     4,836,880.96
14   Necromancer    58  100 80.71  132059063  4250334444 1,205,467,451.39
15     Occultist    35  100 79.92   10111019  4250334444 1,385,409,559.60
16    Pathfinder    40   99 80.84   19266512  3932891993 1,404,552,962.81
17        Raider    35   98 80.43    9989132  3638186694 1,478,104,714.26
18        Ranger     2   44 13.62        525    29808729     2,537,123.00
19      Saboteur    54   96 85.80   88391731  3129015589 1,798,042,026.28
20         Scion     2   44 10.50        525    29333950     3,191,727.14
21        Shadow     2   46 20.28        959    35905624     5,022,499.04
22        Slayer    46   97 79.58   35873515  3373973026 1,306,282,574.69
23       Templar     2   69 17.79        525   344953186    23,519,651.53
24     Trickster    38   98 77.51   15521262  3729819930 1,221,953,459.54
25         Witch     2   43 16.17        525    26104846     3,644,452.97